!!! 5
html
  head
    title beanlogs

    // stylesheets
    link(rel='stylesheet', type='text/css', 
         href='/style/vendor/bootstrap/bootstrap.css')
    link(rel='stylesheet', type='text/css', 
         href='/style/vendor/bootstrap/bootstrap-responsive.css')

    // javascripts
    script(src='/js/vendor/jquery/jquery-1.7.1.js')
    script(src='/js/vendor/bootstrap/bootstrap.js')
  body
    div.container
      != body
